@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@import 'tailwindcss';

@import './fonts/Cookie.css'; /* 400 */
@import './fonts/Ubuntu.css'; /* 300 400 500 700 */
@import './fonts/Roboto.css'; /* 100 200 300 400 500 600 700 800 900 */

@theme {
	--color-deep: #12151f;
	--color-dark: #222222;
	--color-sky: #004eff;
	--color-tutti: #00c3ff;
	--color-light: #f1f1f1;
	--color-coconut: #f9f9fd;

	--font-special: 'Cookie', cursive;
	--font-title: 'Ubuntu', sans-serif;
	--font-general: 'Roboto', sans-serif;
}

@layer base {
	* {
		@apply font-general;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply text-deep overflow-x-hidden bg-white;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		@apply font-title font-bold;
	}

	select,
	button {
		@apply cursor-pointer;
	}

	button,
	a {
		@apply transition-colors duration-300 ease-in-out;
	}
}

@layer components {
	.vertical-wrapper {
		@apply py-25;
	}

	.horizontal-wrapper {
		@apply mx-auto max-w-7xl px-2;
	}

	.btn {
		@apply from-sky to-tutti w-full rounded-sm bg-linear-to-r px-6 py-3 text-center text-sm font-medium text-white uppercase transition-all hover:brightness-110 sm:w-fit;
	}
}

.swiper {
	@apply py-20;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply bg-sky;
}
